body {

	height: 10000px;

}

nav button {
	border: none !important;
}

nav button:active {
	border: none !important;

}

.navbar-brand {

	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	color: #CC7722 !important;

}

nav.bg-light {
	
	background-color: #FFF !important;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .3);

}

.jumbotron {
	margin-top: 55px;
	height: 400px;
	/*border-radius: 0 0 50px 50px;*/
	background-image: url(../assets/6.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;

}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

.jumbotron:after {
	
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, .6);
	position: absolute;
	bottom: 0;

}

.jumbotron h1 {

	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: #FFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,.7);

}

.panel {

	
	background-color: #FFF;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
	border-radius: 50px;
	margin-top: -120px;
	padding: 30px;
	box-sizing: border-box;

}

.panel img {
	height: 70px;
	width: 70px;
	margin-right: 20px;
}


.panel .col-xl {
	margin-bottom: 30px;
	transition: .3s;
} 

.panel .col-xl:hover {
	transform: scale(1.1);
}

.panel h4 {

	font-family: 'Dancing Script', cursive;
	font-size: 24px;
	font-weight: bold;
	margin-top: 5px;

}

.panel p {
	color: #acacac
}


.about {
	margin-top: 100px;
	padding: 50px 0;
}

.about h2 {
	color: #CC7722;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

.about p { 
	text-align: center;
}

.major {
	margin-top: 100px;
	padding: 50px 0;
}

.major h2 {
	color: #CC7722;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

.major .card {
	border: none;
	box-shadow: 0px 20px 10px -20px rgba(0,0,0,.3);
	transition: .3s;
	margin-bottom: 50px;
}

.major .card:hover {
	transform: translateY(-20px);
	box-shadow: 0px 60px 10px -40px rgba(0,0,0,.1);
}

.major .card h5 {
	color: #CC7722;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 24px;
}

.major .card a {
	background-color: #CC7722;
	border: none;
}

.buku {
	margin-top: 100px;
	padding: 50px 0;
}

.buku h2 {
	color: #CC7722;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

.buku .card {
	transform: scale(.95);
	transition: .3s;
}

.buku .card:hover {
	transform: scale(1);
}

.buku .card-body {
	height: 250px;
	position: relative;
}

.buku .card img {
	height: 250px;

}

.buku .card .rate {
	color: #CC7722;
}


.buku .card .penulis {
	margin-top: -10px;
	color: #ACACAC;
}

.buku .card a {
	position: absolute;
	margin-bottom: 30px;
	bottom: 0;
	background-color: #CC7722;
	border: none;
}

.buku .card .harga {
	font-weight: bold;

}

@media (min-width: 992px) {


	.panel .col-xl {
		margin-bottom: 0px;
	} 

	.about p { 
		text-align: left;
	}

	.major .card {
		margin-bottom: 0;
	}


}